---
// src/components/Ad.astro
---
<div class="ad-container" style="text-align: center; margin: 20px 0; min-height: 90px; display: flex; justify-content: center; align-items: center;">
    <script is:inline>
        atOptions = {
            'key' : 'f45281fe8372e9d69d55abf28f2187c3',
            'format' : 'iframe',
            'height' : 90,
            'width' : 728,
            'params' : {}
        };
    </script>
    <script is:inline src="https://www.highperformanceformat.com/f45281fe8372e9d69d55abf28f2187c3/invoke.js"></script>
</div>