---
// src/components/Ad.astro
---

<!-- Contenedor para PC -->
<div class="ad-pc">
    <script is:inline>
        window.atOptions = {
            'key' : 'fd83b45b1ce9547947075075a1e7bc02',
            'format' : 'iframe',
            'height' : 90,
            'width' : 728,
            'params' : {}
        };
    </script>
    <script is:inline src="https://www.highperformanceformat.com/fd83b45b1ce9547947075075a1e7bc02/invoke.js"></script>
</div>

<!-- Contenedor para Móviles -->
<div class="ad-mobile">
    <script is:inline>
        window.atOptions = {
            'key' : '20c04f652318df52710cce7c4fc598d7',
            'format' : 'iframe',
            'height' : 600,
            'width' : 160,
            'params' : {}
        };
    </script>
    <script is:inline src="https://www.highperformanceformat.com/20c04f652318df52710cce7c4fc598d7/invoke.js"></script>
</div>

<style>
    .ad-pc { display: block; text-align: center; }
    .ad-mobile { display: none; text-align: center; }

    /* En pantallas pequeñas (celulares) */
    @media (max-width: 768px) {
        .ad-pc { display: none; }
        .ad-mobile { display: block; }
    }
</style>