---
// src/components/Ad.astro
---
<div class="ad-container" style="text-align: center; margin: 20px 0; min-height: 90px; display: flex; justify-content: center; align-items: center;">
   <script>
  atOptions = {
    'key' : 'c574b8347643e181c473a78852e8c755',
    'format' : 'iframe',
    'height' : 250,
    'width' : 300,
    'params' : {}
  };
</script>
<script src="https://www.highperformanceformat.com/c574b8347643e181c473a78852e8c755/invoke.js"></script>


</div>