<div class="pelicula-view">
  <div class="pelicula-info">
    <div class="pi-left">
      <div class="poster">
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgu-MoSNCw_4T6IlnUqBxGighFpjVoav6yg4FmEnzOPS6yMYekeusJgUDvfDi5a1epUjS4fut4-heIi1kC2V-09taJyej1XMtBrWRrCOGtHWUljWwnqYIY7alGOuN3f2bGmWnQWKNVFqhoEgyM6DP4BzPwQm3pRef9H-9HsRXYgoa-9jWP0_PMKXClYEOH6/s1600/KPI.jpg" alt="Portada de KING PRODIGIO INMORTAL" />
      </div>
      <div class="trailer">
        <p><a href="#descargar"><b>DESCARGAR PDF</b></a></p>
      </div>
    </div>

    <div class="pi-right">
      <h1>KING PRODIGIO INMORTAL</h1>
      <p><strong>Título Original:</strong> King Prodigio Inmortal</p>
      <p><strong>Año:</strong> 2023</p>
      <p><strong>Autor:</strong> <a href="/search/label/autor">Ever A Alvarado F</a></p>
      <p><strong>Géneros:</strong> XianXia</p>
      <p><strong>Sinópsis:</strong> <span class="sinopsis">La historia de "King Prodigio Inmortal" trata sobre Alex King... (tu texto completo aquí).</span></p>

      <div class="share-media">
        <p>Compartir:</p>
        <div class="social-media">
          <!-- Aquí luego pondremos iconos normales -->
          <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">WhatsApp</a>
        </div>
      </div>
    </div>
  </div>

  <div class="player_download">
    <h2 class="title-player">Lista de Capítulos</h2>
    <div class="player-buttons">
      <a href="/p/kpi-capitulo-01.html" class="btn btn-dark">01</a>
    </div>
  </div>

  <div id="descargar" class="player_download">
    <h2 class="title-player">Descargar PDF</h2>
    <div class="player-buttons">
      <a href="/p/mdclhh-capitulos-01-20.html" class="btn btn-dark">0001-0020</a>
      <a href="/p/mdclhh-capitulos-21-40.html" class="btn btn-dark">0021-0040</a>
      <a href="/p/mdclhh-capitulos-41-60.html" class="btn btn-dark">0041-0060</a>
    </div>
  </div>
</div>
